@media only screen and (max-width: 900px) {
	.container-split {
		max-width: 100%;
	}

	.info {
		flex-direction: column-reverse;
	}

	.info-two {
		flex-direction: column;
	}

	.info .info-img {
		width: 100%;
		height: 480px;
	}

	.testimonial {
		padding: 30px;
	}

	.testimonial p {
		padding: 0;
		margin-left: 30px;
	}

	.box-3 {
		padding: 15px;
	}
}

@media only screen and (max-width: 768px) {
	.testimonial p,
	.box-3 p {
		font-size: 0.92rem;
		line-height: 1.65em;
	}

	h4 {
		font-size: 1.1rem;
		padding-bottom: 10px;
	}
}

@media only screen and (max-width: 640px) {
	.features .container {
		flex-direction: column;
		justify-content: center;
	}

	.contact-details .container {
		flex-direction: column;
		justify-content: center;
	}

	.box-3 {
		width: 100%;
		padding: 30px;
	}

	.box-3 p {
		padding: 0 60px;
	}

	h2 {
		font-size: 2.2rem;
	}

	.testimonials {
		padding: 35px 70px 10px 70px;
	}

	.testimonial {
		flex-direction: column;
	}

	.testimonial .portrait {
		max-width: 100%;
		max-height: 100%;
	}

	.testimonial p {
		font-size: 1rem;
		line-height: 1.6rem;
		margin-top: 20px;
		margin-left: 0;
	}
}

@media only screen and (max-width: 520px) {
	header .container {
		flex-direction: column;
		text-align: center;
	}

	.logo {
		margin-left: 0;
		font-size: 2rem;
		line-height: 3rem;
	}

	.navbar {
		flex-direction: column;
	}

	.navbar li a {
		border-left: none;
		border-right: none;
		border-top: 1px #e2b300 dashed;
	}

	.navbar li:last-child a {
		border-bottom: 1px #e2b300 dashed;
	}

	.navbar li a:hover {
		color: #fff;
		background: #1C1C1C;
	}

	.box-3 p {
		padding: 0;
	}

	h2 {
		font-size: 2rem;
	}

	.testimonial {
		padding: 0;
	}

	.testimonial p {
		padding: 30px;
		margin-top: 0;
	}
}

@media only screen and (max-width: 420px) {
	.testimonials {
		padding: 35px 40px 10px 40px;
	}

	footer p {
		font-size: 0.92rem;
		line-height: 1.65em;
	}
}

@media only screen and (max-width: 360px) {
	h1 {
		font-size: 4rem;
		line-height: 4.4rem;
	}

	h3 {
		font-size: 1.4rem;
		padding-bottom: 10px;
	}

	.lead-copy {
		font-size: 1.2rem;
	}
}

@media only screen and (max-height: 420px) {
	h1 {
		font-size: 4rem;
		line-height: 4.4rem;
	}

	h3 {
		font-size: 1.4rem;
		padding-bottom: 10px;
	}

	.lead-copy {
		font-size: 1.2rem;
	}
}